<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenFoodFacts Analysis</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script src="/static/script.js" defer></script>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    

<body>
    <div class="background-container">

        <div class="navigation-wrapper">

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="../static/images/Open_Food_Facts_logo_2022.svg.png" alt="Logo">
                </div>
            </div>
            <div class="nav-info">
                <div class="middle-left-column">
                    <div class="nav-link">
                        <a href="datafilter.html" class="no-style-link"> 
                            Filter the data
                        </a>
                    </div>
                </div>
            

                <div class="middle-right-column">
                    <div class="nav-link">
                        <a href="index.html" class="no-style-link">
                            About                        
                        </a>
                    </div>
                </div>
            </div>
    
        </div>

        <div class="page-container">
            <div class="form-wrapper">

                <form id="search-form">
                    <div class="brand-query">
                        <label for="brand-selector">Choose a Brand</label>
                        <select id="brand" name ="brand">
                             <option value="" id="brand-selector"></option>
                        </select>
                        
                    </div>
                    
                    <div class="countries-query">
                        <label for="country-selector">Country : </label>
                        <select name="country" id="country">
                            <option value="" id = "country-selector"></option>
                        </select>
                            
                    </div>
    
                    <div class="btn-wrapper">
                        <button type="submit">Search</button>
                    </div>
                    
                </form>
        
            </div>
    
            <div id="results">
    
            </div>
            
            
        </div>

        <div class="footer-wrapper">
            <div class="logo-wrapper">
                <div class="footer-logo">
                    <img src="../static/images/Open_Food_Facts_logo_2022.svg.png" alt="logo">
                </div>
            </div>

            <div class="social-media-wrapper">
                <div class="social-media-icons">

                    <div class="icons">
                        <a href="https://www.instagram.com/amirosen_esm?igsh=N29heWJjdmlzbGp6">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
        
                    <div class="icons">
        
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
        
                    <div class="icons">
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
    
                    
                </div>

            </div>
                

        </div>
    

        
