<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenFoodFacts Analysis</title>
    <link rel="stylesheet" href= "../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <div class="background-container">

        <div class="navigation-wrapper">

            <div class="logo-wrapper">
                <div class="logo">
                    <img src="../static/images/Open_Food_Facts_logo_2022.svg.png" alt="Logo">
                </div>
            </div>
            <div class="nav-info">
                <div class="middle-left-column">
                    <div class="nav-link">
                        <a href="datafilter.html" class="no-style-link"> 
                            Filter the data
                        </a>
                    </div>
                </div>
            


            </div>
    
        </div>


        <div class="about-container">
    
            <div class="text-box">
                <p>About Openfoodfacts</p>
            </div>
    
            <div class="text-container">
                <p>Open Food Facts is a free, online and crowdsourced database of food products from around the world[1] licensed under the Open Database License[2] while its artwork—uploaded by contributors—is distributed under a Creative Commons Attribution–Share Alike license.[3]
    
                    The project was launched on 19 May 2012 by French programmer Stéphane Gigandet[4] during the Food Revolution Day organized by Jamie Oliver[5] and has won the 2013 Dataconnexions Award from Etalab[6] and the 2015 OKFN Award from Open Knowledge.[7]
        
                    In May 2016, its database contained more than 80,000 products from 141 countries.[8] In June 2017, due to the growing ecosystem of apps and open data imports from various countries, this number rose to 880,000.[9] In October 2019 OFF passed the 1,000,000 products milestone.[10] By the 10th anniversary in May 2022, the database contained 2.3 million products from 182 countries.[11]
                </p>
            </div>
    
    
            <div class="squares-container">
    
                <div class="square">
    
                    <div class="square-image">
                        <img src="../static/images/Open_Food_Facts_screenshot_2024-02_Home.png" alt="screenshot">
                    </div>
    
                    <div class="square-text">
    
                        <p>
                            The project gathers information and data on food products from around the world.[1]
                            For each item, the database stores its generic name, quantity, type of packaging, brand,
                            category, manufacturing or processing locations,countries and stores where the product is sold, 
                            list of ingredients, any traces (for allergies, dietary laws or any specific diet), food additives 
                            and nutritional information. The nutritional value is calculated using the Nutri-Score.[12] 
                        </p>
                    </div>
                </div>
    
                <div class="square">
    
                    <div class="square-image">
                        <img src="../static/images/openfoodfacts.png" alt="logo">
                    </div>
    
    
                    <div class="square-text">
    
                        <p>
                            Open Food Facts made an app for IOS and Android. The app allows for the contributors to quickly
                             add products on the site (by photographing them and complete some product information). It can be used 
                             to scan the barcode of food products and directly see the nutri-score and the eco-score. It is also easy 
                             to compare different food products based on their ingredients.[18]
                        </p>
                    </div>
    
    
                </div>
            </div>
    
    
            <div class="text-box">
                <p>About my Project </p>
            </div>
    
            <div class="text-container">
                <p>
                    Welcome to my project — a powerful and user-friendly platform built to make food data more 
                    accessible and insightful. This application is powered by OpenFoodFacts, a large open-source food 
                    database that contains detailed information on thousands of food products from around the world.
                    The goal of this project is to give users a smart and efficient way to search, explore, and analyze 
                    nutritional information. Whether you're curious about what's in your favorite snack, comparing ingredients
                    across brands, or keeping track of dietary values, this tool provides accurate, well-organized data 
                    at your fingertips.The platform was developed with performance and usability in mind. It includes
                    features like advanced search, clean product displays, and an intuitive interface — all backed by a structured database and modern web technologies. It's not just a project; it’s a step toward building tools that encourage awareness, transparency, and better decision-making in our everyday lives.
                    Whether you're a developer, researcher, health-conscious user, or just someone who enjoys exploring
                    interesting data, this platform was made to be as useful and enjoyable as possible.
                </p>
            </div>
        </div>


        <div class="footer-wrapper">
            <div class="logo-wrapper">
                <div class="footer-logo">
                    <img src="../static/images/Open_Food_Facts_logo_2022.svg.png" alt="logo">
                </div>
            </div>

            <div class="social-media-wrapper">
                <div class="social-media-icons">

                    <div class="icons">
                        <a href="https://www.instagram.com/amirosen_esm?igsh=N29heWJjdmlzbGp6">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
        
                    <div class="icons">
        
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
        
                    <div class="icons">
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </div>
    
                    
                </div>

            </div>
                

        </div>
    
    </div>
    
    
        
</body>
</html>